/* general */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	background-color: transparent;
	color: #000000;
}

body {
	margin: 20px;
}


h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
}

.btndefault {
	font-size: 1em;
	border: solid 1px #999999;
	padding: .5em;
	background-color: #cccccc;
	border-radius: 10px;
	margin: 0 1em 0 0;
	display: inline-block;
}

.btndefault:hover {
	background-color: #aaaaaa;
}

/* errors */

.respmsg {
	background-color: rgba(255, 255, 255, .8);
	color: #000000;
	padding: 10px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.respmsg p {
	color: inherit;
	margin: 0 0 1em 0;
}

.respmsg strong {
	color: inherit;
}

.resperror {
	color: #884400;
}


/* form */

#dropzone {
	width: 400px;
	min-height: 400px;
	background-color: #dddddd;
	border: dashed 4px #999999;
	margin: 0 0 2em 0;
	position: relative;
	padding: 10px;
}

#uploaderlbl, #uploadersubmit, #uploaderreset {

}

#uploaderimg, #uploadersubmit, #uploaderreset {
	display: none;
}

/* image wrapper */

#imgwrap {
	width: 100%;
	height: auto;
	max-width: 400px;
	min-height: 400px;
	text-align: center;
	background-color: #e0e0e0;
	overflow: hidden;
	background-color: transparent;
	display: none;
}

#imgwrap img {
	height: 300px;
	width: 300px;
	object-fit: contain;
	padding: 10px;
	border: solid 1px #999999;
}

#imgwrap input[type="text"], #imgwrap p {
	font-size: 1em;
	background-color: #ffffff;
	border: solid 1px #999999;
	padding: .5em;
	margin: 0 0 1em 0;
	width: 100%;
	text-align: left;
}

#imgwrap p {
	background-color: transparent;
}

